# Root dependencies
node_modules/

# Frontend
apps/frontend/node_modules/
apps/frontend/.next/
apps/frontend/out/

# Backend
apps/backend/node_modules/

# Environment files
.env
.env.*

# Test artifacts
cookies.txt
cookies2.txt
login2.json
scheduled.json
# Test artifacts
cookies.txt
cookies2.txt
login2.json
scheduled.json

login.json
audience.json
body.json
campaign.json
